<div class="container">
  <div class="row">
    <div class="span2">
      <ul class="nav nav-list nav-list-vivid">
        <li class="active"><a href="#"></i>Your Flips</a></li>
        <li class="nav-header">Accounts</li>
        <li><a href="#">@betahaus_en</a></li>
        <li><a href="#">@betahaus_es</a></li>
        <li><a href="#">@betahaus_de</a></li>
        <li><a href="#"><i class="fui-plus"></i> Account</a></li>
      </ul>
    </div>

    <div class="span10">
      <div class="row-fluid">
        <div class="span9">
          <h3>YOUR FLIPS</h3>
          <p>A Flip allows you to automatically translate and publish your tweets in different languages.</p>
        </div>
        <div class="pull-right">
          <a href="#" class="btn btn-huge btn-primary">
            <i class="fui-plus-inverted"></i>
            Create a Flip
          </a>
        </div>
      </div>

      <ul class="flips">
        <li class="row flip">
          <ul class="span7 translation">
            <li class="span3 source">
              <a href="#" class="btn btn-small btn-inverse btn-block">
                <p><strong>@betahaus_en</strong></p>
                <span class="language label label-large label-info">english</span>
              </a>
            </li>
            <li class="span1 type">
              <i class="fui-gear"></i>
              <small>machine</small>
            </li>
            <!-- /.type -->
            <li class="span3 source">
              <a href="#" class="btn btn-small btn-inverse btn-block destination">
                <p><strong>@betahaus_es</strong></p>
                <span class="language label label-large label-important">spanish</span>
              </a>
            </li>
            <!-- /.source -->
          </ul>
          <!-- /.translation -->
          <div class="actions span3">
            <ul>
              <li>
                <a href="#" class="btn btn-huge mlm" title="Pause Flip">
                  <i class="fui-pause"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-huge mlm" title="Edit Flip">
                  <i class="fui-new"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-huge  mlm" title="Actity">
                  <i class="fui-list" ></i>
                </a>
              </li>
            </ul>
            <p>9 translations processed</p>
            <p>Last processed 18 minutes ago</p>
          </div>
          <!-- /.actions -->

        </li>
        <!-- /.flip -->
        <li class="row flip">
          <ul class="span7 translation">
            <li class="span3 source">
              <a href="#" class="btn btn-small btn-inverse btn-block">
                <p><strong>@betahaus_en</strong></p>
                <span class="language label label-large label-info">english</span>
              </a>
            </li>
            <li class="span1 type">
              <i class="fui-user"></i>
              <small class="human">human</small>
            </li>
            <!-- /.type -->
            <li class="span3 source">
              <a href="#" class="btn btn-small btn-inverse btn-block destination">
                <p><strong>@betahaus_de</strong></p>
                <span class="language label label-large label-warning">german</span>
              </a>
            </li>
            <!-- /.source -->
          </ul>
          <!-- /.translation -->
          <div class="actions span3">
            <ul>
              <li>
                <a href="#" class="btn btn-huge mlm" title="Pause Flip">
                  <i class="fui-play"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-huge mlm" title="Edit Flip">
                  <i class="fui-new"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-huge  mlm" title="Actity">
                  <i class="fui-list" ></i>
                </a>
              </li>
            </ul>
            <p>1 translation processed</p>
            <p>Last processed 20 days ago</p>
          </div>
          <!-- /.actions -->
        </li>
        <!-- /.flip -->
        <li class="row flip">
          <ul class="span7 translation">
            <li class="span3 source">
              <a href="#" class="btn btn-small btn-inverse btn-block">
                <p><strong>@betahaus_de</strong></p>
                <span class="language label label-large label-warning">german</span>
              </a>
            </li>
            <li class="span1 type">
              <i class="fui-gear"></i>
              <small>machine</small>
            </li>
            <!-- /.type -->
            <li class="span3 source">
              <a href="#" class="btn btn-small btn-inverse btn-block destination">
                <p><strong>@betahaus_es</strong></p>
                <span class="language label label-large label-important">spanish</span>
              </a>
            </li>
            <!-- /.source -->
          </ul>
          <!-- /.translation -->
          <div class="actions span3">
            <ul>
              <li>
                <a href="#" class="btn btn-huge mlm" title="Pause Flip">
                  <i class="fui-pause"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-huge mlm" title="Edit Flip">
                  <i class="fui-new"></i>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-huge  mlm" title="Actity">
                  <i class="fui-list" ></i>
                </a>
              </li>
            </ul>
            <p>190 translations processed</p>
            <p>Last processed less than a minute ago</p>
          </div>
          <!-- /.actions -->
        </li>
        <!-- /.flip -->
      </ul>
      <!-- /.flips -->
    </div>
  </div>
</div>
