<ul class="nav nav-list nav-list-vivid">
  <li class="active">
    <%= link_to 'Your Flips', flip_index_path %>
  </li>
  <li class="nav-header">Accounts</li>
  <% current_user.accounts.each do |account| %>
    <li>
      <%= link_to "@#{account.name}", account_path(account) %>
    </li>
  <% end %>
  <li>
    <%= link_to new_account_path do %>
      <i class="fui-plus"></i> Account</a>
    <% end %>
  </li>
</ul>
