<div class="container">
  <div class="row">
    <div class="span2">
      <%= render partial: 'shared/sidebar', locals: { active: '' } %>
    </div>

    <div class="span10">
      <div class="row-fluid">
        <div class="span9">
          <h3>FLIP ACTIVIY</h3>
          <p>Last 100 actions triggered by this flip.</p>
          <ul class="activity">
            <li>
              <p>Posted a <a href="#">tweet</a> translated in Spanish to <a href="#" target="_blank">@betahaus_es</a> via human translation.</p>
              <div class="row">
                <small class="pull-right">about 17 minutes ago</small>
              </div>
            </li>
            <li>
              <p>Posted a <a href="#">tweet</a> translated in Spanish to <a href="#" target="_blank">@betahaus_es</a> via human translation.</p>
              <div class="row">
                <small class="pull-right">about 20 minutes ago</small>
              </div>
            </li>
            <li>
              <p>Posted a <a href="#">tweet</a> translated in Spanish to <a href="#" target="_blank">@betahaus_es</a> via human translation.</p>
              <div class="row">
                <small class="pull-right">about 2 hours ago</small>
              </div>
            </li>
            <li>
              <p>Posted a <a href="#">tweet</a> translated in Spanish to <a href="#" target="_blank">@betahaus_es</a> via human translation.</p>
              <div class="row">
                <small class="pull-right">about 1 day ago</small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
