<div class="container">
  <div class="row">
    <div class="span2">
      <%= render partial: 'shared/sidebar', locals: { active: 'your flips' } %>
    </div>

    <div class="span10">
      <div class="row-fluid">
        <div class="span9">
          <h3>YOUR FLIPS</h3>
          <p>A Flip allows you to automatically translate and publish your tweets in different languages.</p>
        </div>
        <div class="pull-right">
          <%= link_to new_flip_path, class: 'btn btn-huge btn-primary' do %>
            <i class="fui-plus-inverted"></i>
            Create a Flip
          <% end %>
        </div>
      </div>

      <ul class="flips">
        <%= render partial: 'flip', collection: @flips %>
      </ul>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.toggle-pause').on('click', function(event) {
      event.preventDefault();
      $icon = $(this).find('i').first()
      if ($icon.hasClass('fui-pause')) {
        $icon.removeClass('fui-pause').addClass('fui-play');
      } else {
        $icon.addClass('fui-pause').removeClass('fui-play');
      }
    });
  });
</script>
