<div class="container upgrade">
  <h3>3 plans. Try for free. Upgrade or cancel anytime.</h3>

  <div class="grid row">
    <div class="span4 plan free">
      <h4>Free / <span>$0pm</span></h4>
      <ul>
        <li>Computer Translation <span class="pull-right">1000 Words</span></li>
        <li>Languages <span class="pull-right">+1 language</span></li>
        <li>Engage <span class="pull-right">Publish Only</span></li>
        <li>Automatic Publishing<span class="pull-right">Yes</span></li>
      </ul>
      <button class="btn btn-huge btn-primary">Get this plan</button>
    </div>
    <div class="span4 plan small">
      <h4>Individual / <span>$29pm</span></h4>
      <ul>
        <li>Computer Translation <span class="pull-right">Unlimited</span></li>
        <li>Human Translation <span class="pull-right">350 words</span></li>
        <li>Languages <span class="pull-right">+2 languages</span></li>
        <li>Engage <span class="pull-right">Publish / Reply</span></li>
        <li>Automatic Publishing<span class="pull-right">Yes</span></li>
        <li>Extra word<span class="pull-right">9&cent;</span></li>
      </ul>
      <button class="btn btn-huge btn-primary">Get this plan</button>
    </div>
    <div class="span4 plan medium">
      <h4>Professional / <span>$49pm</span></h4>
      <ul>
        <li>Computer Translation <span class="pull-right">Unlimited</span></li>
        <li>Human Translation <span class="pull-right">700 words</span></li>
        <li>Languages <span class="pull-right">Unlimited</span></li>
        <li>Engage <span class="pull-right">Publish / Reply</span></li>
        <li>Automatic Publishing<span class="pull-right">Yes</span></li>
        <li>Extra word<span class="pull-right">8&cent;</span></li>
      </ul>
      <button class="btn btn-huge btn-primary">Get this plan</button>
    </div>


  </div>


</div>
