<div class="container upgrade">
  <h3>3 plans. Try for free. Upgrade or cancel anytime.</h3>

  <div class="grid row">
    <div class="span4 plan free">
      <h4>Free / <span>$0pm</span></h4>
      <ul>
        <li class="clearfix">Computer Translation <span class="pull-right">1000 words</span><br /><small class='pull-right'>about 90 tweets</small></li>
        <li class="clearfix">Human Translation <span class="pull-right">No</span></li>
        <li>Automatic Publishing<span class="pull-right">1 Flip</span></li>
        <li>Engage<span class="pull-right">Publish & Reply</span></li>
        <li>Time zone support <span class="pull-right">No</span></li>
        <li>Extra 100 words<span class="pull-right">N/A</span></li>
      </ul>
      <button class="btn btn-huge btn-primary">Get this plan</button>
    </div>
    <div class="span4 plan small">
      <h4>Individual / <span>$29pm</span></h4>
      <ul>
        <li>Computer Translation <span class="pull-right">Unlimited</span></li>
        <li class="clearfix">Human Translation <span class="pull-right">350 words</span><br /><small class='pull-right'>about 30 tweets</small></li>
        <li>Automatic Publishing<span class="pull-right">3 Flips</span></li>
        <li>Engage<span class="pull-right">Publish & Reply</span></li>
        <li>Time zone support <span class="pull-right">No</span></li>
        <li>Extra 100 words<span class="pull-right">$9</span></li>
      </ul>
      <button class="btn btn-huge btn-primary">Get this plan</button>
    </div>
    <div class="span4 plan medium">
      <h4>Professional / <span>$59pm</span></h4>
      <ul>
        <li>Computer Translation <span class="pull-right">Unlimited</span></li>
        <li class="clearfix">Human Translation <span class="pull-right">800 words</span><br /><small class='pull-right'>about 70 tweets</small></li>
        <li>Automatic Publishing<span class="pull-right">12 Flips</span></li>
        <li>Engage<span class="pull-right">Publish & Reply</span></li>
        <li>Time zone support <span class="pull-right">Yes</span></li>
        <li>Extra 100 words<span class="pull-right">$8</span></li>
      </ul>
      <button class="btn btn-huge btn-primary">Get this plan</button>
    </div>
  </div>
  <div class="row">
  <h3>Need more? Please contact us for a <a href="#">custom quote</a>.</h3>
  </div>
</div>
