<div class="container">
  <div class="row">
    <div class="span2">
      <%= render partial: 'shared/sidebar', locals: { active: 'new account' } %>
    </div>

    <div class="span10">
      <div class="row-fluid">
        <div class="span9">
          <h3>CONNECT AN ACCOUNT</h3>
          <p>Connec your Twitter accounts in order to automate translations in between them.</p>
        </div>
      </div>

      <%= render partial: 'form', locals: { account: @account, languages: @languages, timezones: @timezones}  %>
    </div>
  </div>
</div>
