<div class="container">
  <div class="row">
    <div class="span2">
      <%= render partial: 'shared/sidebar', locals: { active: @account.name } %>
    </div>

    <div class="span10">
      <div class="row-fluid">
        <div class="span9">
          <%= render partial: 'nav', locals: { tab: 'activity' } %>

          <section class="translation-widget">
            <textarea placeholder="Type something in your language, we'll translate it for you..."></textarea>

            <ul>
              <li>
                Translation
              </li>
              <li>
                <input type="radio" name="kind" value="computer" id="computer" checked> <label for="computer">Computer</label>
              </li>
              <li>
                <input type="radio" name="kind" value="human" id="human"> <label for="human">Human</label>
              </li>
              <li>
                <input type="radio" name="kind" id="none" value="none"> <label for="none">No thanks</label>
              </li>
            </ul>
            <div class="row span12">
              <div class="pull-right">
                <span>140</span>
                <button class="btn btn-primary">Tweet</button>
            </div>
            </div>
          </section>

          <ul class="tweets">
            <li>
              <div class="tweet">
                <p>
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
                <a href="#">2 mentions</a>
                <a href="#">view translation</a>
                <div>human translated to divish</div>
                <div>about 2 minutes ago</div>
              </div>
              <hr>
              <div class="mentions">
                <p>
                  Michael Lead @michael <br />
                  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
                <div>computer translation from spanish</div>
                <a href="#">view original</a>
                <a href="#">reply</a>
                <textarea rows="2">@michael</textarea>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
