  <div class="container">
    <div class="row">
      <div class="span2">
        <%= render partial: 'shared/sidebar', locals: { active: @account.name } %>
      </div>

      <div class="span10">
        <div class="row-fluid">
          <div class="span9">
            <%= render partial: 'nav', locals: { tab: 'activity' } %>

            <section class="translation-widget">
              <textarea placeholder="Type something in plain <%= current_user.language.capitalize %>, we'll translate it and publish it for you..."></textarea>
              <ul>
                <li>
                  Translation
                </li>
                <li>
                  <input type="radio" name="kind" value="computer" id="computer" checked> <label for="computer"><i class="fui-gear"></i></label>
                </li>
                <li>
                  <input type="radio" name="kind" value="human" id="human"> <label for="human"><i class="fui-user"></i></label>
                </li>
                <li>
                  <input type="radio" name="kind" id="none" value="none"> <label for="none"><i class="fui-cross"></i></label>
                </li>
              </ul>
              <div class="row span12">
                <div class="pull-right">
                  <button class="btn btn-primary">Tweet</button>
                </div>
              </div>
            </section>

            <ul class="translations">
              <%= render partial: 'translations/translation', collection: @translations %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reply-widget">
    <section class="translation-widget">
      <textarea class="span10">@cavalli </textarea>
      <ul>
        <li>
          Translation
        </li>
        <li>
          <input type="radio" name="kind_reply" value="computer" id="computer_mention" checked> <label for="computer_mention"><i class="fui-gear"></i></label>
        </li>
        <li>
          <input type="radio" name="kind_reply" value="translator" id="translator_mention"> <label for="translator_mention"><i class="fui-user"></i></label>
        </li>
        <li>
          <input type="radio" name="kind_reply" id="none_mention" value="none"> <label for="none_mention"><i class="fui-cross"></i></label>
        </li>
      </ul>
      <div class="row">
        <div class="pull-right">
          <a href="#" class="btn btn-primary">Reply</a>
        </div>
      </div>
    </section>
  </div>

  <script>
    $(function() {
      $('.translation-link').on('click', function(event) {
        event.preventDefault();

        $content = $(this).parents('.content').first();
        $content.find('.translation').show();
        $content.find('.source').hide();
        $content.find('.source-link').show();
        $(this).hide();
      });

      $('.source-link').on('click', function(event) {
        event.preventDefault();

        $content = $(this).parents('.content').first();
        $content.find('.translation').hide();
        $content.find('.source').show();
        $content.find('.translation-link').show();
        $(this).hide();
      });


      $replyWidget = $('.reply-widget');
      $('.reply').on('click', function(event) {
        event.preventDefault();

        $mention = $(this).parents('.mention').first();
        if ($mention.find('.translation-widget').length) {
          $mention.find('.translation-widget').show();
        } else {
          $mention.append($replyWidget.html());
          $mention.find('textarea').focus().text('@' + $mention.data('author') + ' ');
        }
        $(this).hide();
        $mention.find('.hide').show();
      });

      $('.mention .btn').live('click', function(event) {
        event.preventDefault();

        $mention = $(this).parents('.mention').first();
        $mention.find('.translation-widget').hide();
      });

      $('.translation .cancel').live('click', function(event) {
        event.preventDefault();

        $(this).hide();
      });
    });
  </script>
